
.container-crud {
     max-width: 900px;
     margin: 0 auto;
     padding: 20px;
   }
   
   form {
     display: grid;
     gap: 5px;
     margin-bottom: 10px;
     text-align: center;
   }
   
   label {
     font-weight: bold;
     text-align: center;
   }
   
   input[type="text"],
   input[type="date"],

   button {
     padding: 10px;
   }
   
   /* Card styles */
   .card-container-crud {
     display: grid;
     gap: 5px;
   }
   .card-list {
     list-style-type: none;
     padding: 0;
     display: flex;
     flex-wrap: wrap;
   }
   .card-crud {
     flex: 1 1 200px;
     margin: 5px;
     padding: 10px;
     background-color: #19A7CE;
     border: 1px solid #ddd;
     border-radius: 5px;
   }
   
   .date {
     font-weight: bold;
   }
   
   .cases {
     margin-top: 5px;
   }
  